* {
    font-family: Nunito, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    width: 75%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #d2d3d6;
    margin-bottom: 2em;
}


nav {
    width: 75%;
    align-items: center;
    margin-bottom: 1em;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.left-side-navbar {
    display: flex;
    align-items: center;
    gap: 50px;
}

.icon-container {
    width: 79px;
    position: relative;
    top: 5px;
}

.icon-container a {
    display: block;
    width: 5em;
}

.icon {
    margin: 0;
    font-size: 1.3em;
}

.icon-blue {
    position: relative;
    bottom: 10px;
    color: #4E60FF;
}

.search-input-container {
    background-color: #EDEEF2;
    width: 200px;
    display: flex;
    border-radius: 16px;
}

.left-side-navbar div input {
    width: 73%;
    height: 2em;
    border-radius: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
}

.search-input-container a {
    background-color: #f7f8fb;
    border-radius: 50%;
    width: 1.6em;
    height: 1.6em;
    position: relative;
    left: 15px;
}

.search-input-container  a img {
    height: 1.1em;
    width: 1.1em;
    position: relative;
    top: 4px;
    left: 4px;
}

.left-side-navbar div input:focus {
    outline: none;
}

.right-side-navbar {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 20px;
}

.divider {
    height: 100%;
    width: 2px;
    background-color: #EDEEF2;
}

div.cart-button img {
    height: 2em;
    position: relative;
    top: 10px;
    left: 12px;
}

.cart-button {
    height: 56px;
    width: 56px;
    background-color: #F3F4FF;
    border-radius: 16px;
    border: 1px solid #d8d8d8;
}

.profile-button {
    overflow: clip;
    height: 56px;
    width: 56px;
    border-radius: 16px;
    border: 1px solid #bcbcbc;
}

#divider-showed {
    display: none;
}

div.profile-button img {
    overflow: hidden;
    width: 100px;
    height: auto;
    border-radius: 16px;
    position: relative;
    bottom: 40px;
    right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.75;
}

section {
    width: 100%;
    min-width: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.left-image-discount {
    border-radius: 16px;
    border: 1px solid #efefef;
    width: 45%;
    height: auto;
}

.right-image-discount {
    border-radius: 16px;
    border: 1px solid #eaeaea;
    width: 45%;
    height: auto    ;
}

.food-category-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.food-category {
    width: 100%;
    display: flex;
    justify-content: center;
}

.food-category  a {
    min-width: 130px;
    width: 95%;
    height: 80px;
    border: 1px solid #d6d6da;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.food-category a:hover {
    background-color: #F8F9FF;
    border: 1px solid #697BFF;
    opacity: 1;
}

div.food-category a img {
    width: 18%;
}

.menu-options-label {
    width: 100%;
    margin-top: 5%;
    font-size: 2em;: ;
}

.menu-options-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    min-width: 792px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.menu-option:hover {
    opacity: 85%;
    cursor: pointer;
}

.menu-option {
    min-width: 50px;
    min-height: 80px;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    overflow: clip;
}

div.menu-option img {
    width: 100%;
    height: 55%;
}

.menu-option-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 10px;
    height: 6em;
}

div.menu-option-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 24px;
    background-color: #EDEEF2;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 16px;
}

div.menu-option-information h2 {
    font-size: 1.3em;
}

div.menu-option-information span {
    font-size: 14px;
    color:  #83859C;
}

.menu-options-category-container {
    display: flex;
    gap: 10px;
}

div.menu-option-category img {
    width: 12px;
    margin-right: 3px;
}

@media (max-width: 1180px) {
    nav {
        width: 90%;
    }

    .left-side-navbar {
        width: 11em;
    }

    icon-container {
        height: 90%;
        width: 45%;
    }

    .search-input-container {
        display: none;
    }

    .icon-container a {
        width: 12em !important;
    }

    .icon-container a h2{
        width: 4em;
        font-size: 3em;
    }

    .right-side-navbar {
        height: 200px;
    }

    .cart-button {
        height: 100%;
    }

    #restaurants {
        display: none;
    }

    #deals {
        display: none;
    }

    #my-order {
        display: none;
    }

    .divider {
        display: none;
    }

    .cart-button {
        height: 7em;
        width: 7em;
        border-radius: 30%;
    }

    .cart-button img {
        width: 70%;
        height: 70% !important;
        left: 18px !important;
    }

    .profile-button {
        height: 7em;
        width: 7em;
        border-radius: 30%;
    }

    .profile-button img {
        height: auto !important;
        width: 200px !important;
        bottom: 70px !important;
        right: 40px !important;
    }

    #divider-showed {
        display: block;
        height: 7em;
    }

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 7em;
        width: 7em;
        background-color: #F3F4FF;
        border-radius: 30%;
        border: 1px solid #d8d8d8;
    }

    .button-line-icon {
        width: 40%;
        background-color: #83859C;
        height: 4px;
    }

    .discount-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .right-image-discount {
        width: 90%;
    }

    .left-image-discount {
        width: 90%;
    }

    main {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .menu-options-label {
        font-size: 3em;
    }

    .food-category-container {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 90%;
        row-gap: 2em;
    }

    .food-category {
        width: 15em;
        height: 10em;
    }

    .food-category a {
        width: 100%;
        height: 100%;
    }

    .food-category a img {
        width: 25% !important;
        margin: 10px;
    }

    .food-category a span {
        font-size: 1.5em;
    }

    .menu-options-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .menu-options-label {
        width: 90%;
    }

    .menu-option {
        width: 100%;
        border-radius: 40px !important;
    }

    .menu-option-information {
        height: 40%;
    }

    .menu-option-information h2 {
        font-size: 3em !important;
    }

    .menu-option-information span {
        font-size: 1.5em !important;
    }

    .menu-option-category {
        width: 6em !important;
        height: 2em !important;
        padding: 5px 10px;
    }

    .menu-option-category img {
        width: 30% !important;
        height: 100% !important;
    }

}

