* {
    font-family: Nunito, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #d2d3d6;
    margin-bottom: 2em;
}


nav {
    width: 75%;
    align-items: center;
    margin-bottom: 1em;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.left-side-navbar {
    display: flex;
    align-items: center;
    gap: 50px;
}

.icon-container {
    width: 79px;
    position: relative;
    top: 5px;
}

.icon-container a {
    display: block;
    width: 5em;
}

.icon {
    margin: 0;
    font-size: 1.3em;
}

.icon-blue {
    position: relative;
    bottom: 10px;
    color: #4E60FF;
}

.search-input-container {
    background-color: #EDEEF2;
    width: 200px;
    height: 2.5em;
    align-items: center;
    display: flex;
    border-radius: 12px;
}

.left-side-navbar div input {
    width: 73%;
    height: 2em;
    border-radius: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
}

.search-input-container a {
    background-color: #f7f8fb;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    position: relative;
    left: 7px;
}

.search-input-container  a img {
    height: 1.5em;
    width: 1.5em;
    position: relative;
    top: 4px;
    left: 4px;
}


.left-side-navbar div input:focus {
    outline: none;
}

.right-side-navbar {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 20px;
}

.divider {
    height: 100%;
    width: 2px;
    background-color: #EDEEF2;
}

div.cart-button img {
    height: 2em;
    position: relative;
    top: 10px;
    left: 12px;
}

.cart-button {
    height: 56px;
    width: 56px;
    background-color: #F3F4FF;
    border-radius: 16px;
    border: 1px solid #d8d8d8;
}

.profile-button {
    overflow: clip;
    height: 56px;
    width: 56px;
    border-radius: 16px;
    border: 1px solid #bcbcbc;
}

#divider-none {
    display: none;
}

div.profile-button img {
    overflow: hidden;
    width: 100px;
    height: auto;
    border-radius: 16px;
    position: relative;
    bottom: 40px;
    right: 20px;
}

button:hover {
    opacity: 60%;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.75;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 75%;
}

section {
    display: flex;
    gap: 30px;
}

.profile-settings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.profile-setting:hover {
    background-color: #F3F4FF;
    outline: 2px solid #4E60FF;
}

.profile-setting:hover .profile-setting-image {
    background-color: #4E60FF;
}


.profile-setting {
    display: flex;
    align-items: center;
    min-width: 240px;
    gap: 10px;
    outline: 1px solid #EDEEF2;
    border-radius: 16px;
    height: 4em;
}

.profile-setting-image {
    display: flex;
    width: 3.2em;
    height: 3.2em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-setting-image img {
    width: 2.5em;
    height: 2.5em;
}

.account-information-container {
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    width: 100%;
    min-height: 43.75em;
    margin-bottom: 2em;
}

.account-information {
    padding: 2em 1em 0;
}

.profile-image-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 2em;
    margin-bottom: 1em;
}

.profile-image {
    width: 6.3em;
    height: 6.3em;
    border: 1px solid black;
    border-radius: 16px;
    margin-top: 0.5em;
}

.profile-image {
    overflow: hidden;
}

.profile-image img {
    position: relative;
    bottom: 2em;
    right: 1em;
    width: 8em;

}

.profile-image-container button {
    background: none;
}

#change-button {
    border: 1px solid #4E60FF;
    border-radius: 8px;
    color: #4E60FF;
    height: 3em;
    width: 7em;
}

#change-button:hover {
    background-color: #F3F4FF;
}

#remove-button {
    border: none;
    opacity: 60%;
    height: 3em;
    width: 7em;
}

#remove-button:hover {
    border: 1px solid #ff0004;
    border-radius: 8px;
    background-color: #ff474b;
}

.account-inputs-container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 30px;
}

.account-inputs-container div input {
    height: 3em;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
    padding: 0 1em ;
}

.account-inputs-container div {
    display: flex;
    flex-direction: column;
}

.email-notifications-container {
    margin-top: 6em;
    border-bottom: 1px solid #EDEEF2;
    padding-bottom: 1em;
}

.email-notifications-options {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    margin-top: 2em;
}

.email-notifications-options div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 1em;
}

.email-notifications-options div input {
    height: 2em;
    width: 2em;
}

.email-notifications-options div input:checked {
    accent-color: #4E60FF;
}

.account-interactions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    margin: 0 1em;
}

.account-interactions-container div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.account-interactions-container button{
    background: none;
    border-radius: 8px;
    height: 3em;
    width: 7em;
}

#log-out {
    border: 1px solid #FF5C60;
    color: #FF5C60;
}

#discard-changes {
    width: 10em;
    border: 1px solid #83859C;
    color: #83859C;
}

#save-changes {
    background: #4E60FF;
    color: white;
    border: none;
    width: 8em;
}



@media (max-width: 1000px) {
    nav {
        width: 90%;
    }

    .left-side-navbar {
        width: 11em;
    }

    icon-container {
        height: 90%;
        width: 45%;
    }

    .search-input-container {
        display: none;
    }

    .icon-container a {
        width: 12em !important;
    }

    .icon-container a h2{
        width: 4em;
        font-size: 3em;
    }

    .right-side-navbar {
        height: 200px;
    }

    .cart-button {
        height: 100%;
    }

    #restaurants {
        display: none;
    }

    #deals {
        display: none;
    }

    #my-order {
        display: none;
    }

    .divider {
        display: none;
    }

    .cart-button {
        height: 7em;
        width: 7em;
        border-radius: 30%;
    }

    .cart-button img {
        width: 70%;
        height: 70% !important;
        left: 18px !important;
    }

    .profile-button {
        height: 7em;
        width: 7em;
        border-radius: 30%;
    }

    .profile-button img {
        height: auto !important;
        width: 200px !important;
        bottom: 70px !important;
        right: 40px !important;
    }

    #divider-showed {
        display: block;
        height: 7em;
    }

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 7em;
        width: 7em;
        background-color: #F3F4FF;
        border-radius: 30%;
        border: 1px solid #d8d8d8;
    }

    .button-line-icon {
        width: 40%;
        background-color: #83859C;
        height: 4px;
    }

    main {
        width: 90%;
        font-size: 2em;
    }

    section {
        flex-direction: column;
    }

    .profile-settings-container {
        width: 100%;
    }

    .profile-setting {
        width: 100%;
        gap: 40px;
    }

    #change-button {
        width: 50%;
        font-size: 1em;
        border-radius: 25px;
    }

    #remove-button {
        width: 50%;
        font-size: 1em;
    }

    #remove-button:hover {
        border-radius: 25px;
    }

    .account-inputs-container {
        grid-template-columns: auto;
    }

    .account-inputs-container div input {
        height: 3em;
        font-size: 0.9em;
    }

    .email-notifications-options {
        grid-template-columns: auto;
        gap: 2em;
    }

    .email-notifications-options div {
        align-items: center;
    }

    #log-out {
        width: 100%;
    }

    #discard-changes {
        width: 50%;
    }

    #save-changes {
        width: 50%;
    }

    .account-interactions-container {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .account-interactions-container div {
        width: 20em;
        height: 2em;
    }

    .account-interactions-container div button {
        height: 100%;
        font-size: 1em;
    }

    .account-interactions-container {
        min-height: 8em;
    }

    .email-notifications-options div input {
        height: 3em;
        width: 3em;
    }
}