* {
    font-family: Nunito, sans-serif;
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body a {
    color: #4E60FF;
    text-decoration: none;
}

body a:hover {
    opacity: 0.75;
}

div.login-side {
    padding: 0 10%;
    min-width: 25em;
}

div.login-side div.login-side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.login-side div div.icon-container {
    width: 79px;
    position: relative;
    top: 20px;
}

.icon {
    margin: 0;
    font-size: 1.3em;
    color: black;
}

.icon-blue {
    position: relative;
    bottom: 10px;
    color: #4E60FF;
}

.login-container {
    padding-bottom: 100px;
}

.login-label {
    font-size: 3.8em;
    margin: 0;
}

.input-container {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
}

.pesonal-data-input-containers {
    margin-bottom: 1em;
}

div.input-container input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #C7C8D2;
    padding-left: 10px;
    margin-top: 4px;
}

.login-instruction {
    margin-bottom: 32px;
    margin-top: 16px;
}

div.logged-container {
    display: flex;
    align-items: center;
}

div.logged-container input {
    height: 1.5em;
    width: 1.5em;
}

div.logged-container label {
    margin-left: 12px;
    font-size: 1.1em;
}

.login-button {
    width: 100%;
    height: 3.5em;
    margin: 2.5em 0;
    border-radius: 8px;
    background-color: #4E60FF;
    color: white;
    border: none;
}

.login-button:hover {
    background-color: #3946c6;
    box-shadow: 2px 2px 4px black;
}

div.signup-container {
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
}

#forgot-link {
    display: block;
    width: 16ex;
    text-align: center;
    margin: 0 auto;
}

.suggestion-side {
    background-color: #6477ff;
    min-height: 100vh;
    width: 100%;
}

.suggestion-side-container {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    min-height: 250px;
}

.suggestion-side-container img {
    width: 90%;
    min-width: 500px;
    max-width: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.suggestion-label {
    font-size: 2em;
}

.suggestions {
    text-align: center;
    width: 60%;
    font-size: 1.2em;
}

.carousel-circles-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    opacity: 30%;
}

#full-circle {
    opacity: 100%;
}


/* Responsivity */
@media (max-width: 1200px) {
    * {
        font-size: 1.1em;
    }

    .suggestion-side {
        display: none;
    }

    .login-side {
        width: 100%;
    }

    .icon {
        font-size: 2em;
    }

    .input-container {
        margin-bottom: 1em;
    }

    .input-container input#email {
        height: 2.6em;
    }

    .input-container input#password {
        height: 2.6em;
    }

    .login-instruction {
        font-size: 1.3em;
    }

    .login-button {
        font-size: 1.3em;
    }

    .personal-data-input-containers {
        margin-bottom: 70px;
    }

    .logged-container label {
        font-size: 1.2em;
        margin: 1em;
    }
}