* {
    font-family: Nunito, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

main {
    width: 95%;
}

nav {
    margin-bottom: 40px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-bottom: 1px solid #EDEEF2;
    padding-bottom: 10px;
}

.left-side-navbar {
    display: flex;
    margin-left: 220px;
    align-items: center;
    gap: 50px;
}

.icon-container {
    width: 79px;
    position: relative;
    top: 5px;
}

.icon {
    margin: 0;
    font-size: 1.3em;
}

.icon-blue {
    position: relative;
    bottom: 10px;
    color: #4E60FF;
}

.search-input-container {
    background-color: #EDEEF2;
    width: 200px;
    display: flex;
    border-radius: 16px;
}

.left-side-navbar div input {
    width: 73%;
    height: 2em;
    border-radius: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
}

.search-input-container a {
    background-color: #f7f8fb;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    position: relative;
    top: 2px;
    left: 10px;
}

.search-input-container  a img {
    height: 1.3em;
    width: 1.3em;
    position: relative;
    top: 4px;
    left: 4px;
}

.left-side-navbar div input:focus {
    outline: none;
}

.right-side-navbar {
    display: flex;
    margin-right: 220px;
    margin-left: 10px;
    align-items: center;
    gap: 20px;
}

.divider {
    height: 100%;
    width: 2px;
    background-color: #EDEEF2;
}

div.cart-button img {
    height: 2em;
    position: relative;
    top: 10px;
    left: 12px;
}

.cart-button {
    height: 56px;
    width: 56px;
    background-color: #F3F4FF;
    border-radius: 16px;
    border: 1px solid #d8d8d8;
}

.profile-button {
    overflow: clip;
    height: 56px;
    width: 56px;
    border-radius: 16px;
    border: 1px solid #bcbcbc;

}

div.profile-button img {
    overflow: hidden;
    width: 100px;
    height: auto;
    border-radius: 16px;
    position: relative;
    bottom: 40px;
    right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.75;
}

main {
    display: flex;
    justify-content: center;
    min-width: 1170px;
}

section {
    width: 80%;
    min-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.left-image-discount {
    margin-left: 30px;
    border-radius: 16px;
    border: 1px solid #efefef;
    width: 45%;
    height: auto;
}

.right-image-discount {
    margin-right: 30px;
    border-radius: 16px;
    border: 1px solid #eaeaea;
    width: 45%;
    height: auto    ;
}

.food-category-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}

.food-category {
    width: 100%;
    display: flex;
    justify-content: center;
}

.food-category  a {
    min-width: 130px;
    width: 95%;
    height: 80px;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.food-category a:hover {
    background-color: #F8F9FF;
    border: 1px solid #697BFF;
    opacity: 1;
}

div.food-category a img {
    width: 18%;
}

.menu-options-label {
    width: 85%;
    margin-top: 5%;
    font-size: 2em;: ;
}

.menu-options-container {
    display: flex;
    width: 85%;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.menu-options {
    width: 350px;
    height: 280px;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    overflow: clip;
}

div.menu-options img {
    width: 100%;
    height: 55%;
}

.menu-option-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 10px;
}

div.menu-option-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 24px;
    border: 1px solid #EDEEF2;
    margin-top: 20px;
    border-radius: 16px;
}

div.menu-option-information h2 {
    font-size: 1.3em;
}

div.menu-option-information span {
    color: #83859C;
    font-size: 14px;
}

.menu-options-category-container {
    display: flex;
    gap: 10px;
}

div.menu-option-category img {
    width: 12px;
    margin-right: 3px;
}

/* To make somehow images static from this moment*/
@media (max-width: 1170px) {
    .discount-container {
        min-width: 880px;
    }
}

@media (max-width: 1600px) {
    .food-category a {

    }
}